<div *ngIf="messageService.messages.length">
  <h2>messages</h2>
  <button type="button" class="clear" (click)="messageService.clear()">
    clear messages
  </button>
  <div *ngFor="let message of messageService.messages">
    {{ message }}
  </div>
</div>
